#map_enfant{
    width: 600px;
    height: 514px;
    background: url(carte_enfant.png) left top no-repeat;
    position: relative;
    display: none;
}
#map_adultes{
    width: 600px;
    height: 632px;
    background: url(carte_adulte.png) left top no-repeat;
    position: relative;
    display: block;
}
#map_enfant img{
    width: 600px;
    height: 514px;
    background: url(void.png) left top no-repeat;   
}
#map_adultes img{
    width: 600px;
    height: 632px;
    background: url(void.png) left top no-repeat;   
}
.map img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}
.map{
    margin-left: auto;
    margin-right: auto;
}
.choix{
    width: 300px;
    text-align: center;
    background-color: #bdc3c7;
    margin-bottom: 20px;
}
.choix p{
    padding: 10px 10px 10px 10px;
}
.form-select{
    width: 200px;
    margin-top: 10px;
}
body{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}